body{
	background-color: #FFEFD5;
	margin-left: 100px;
	margin-right: 50px;
}
h1{
	color: #123456;
	text-align: center; 
	text-shadow:3px 2px grey;
	font-size : 80px;
}
.navbar{
	list-style-type:none;
	margin: 0;
	padding:0;
	overflow: hidden;
	background-color: #124543;
}
li{
	float:left;
}
.navbar-list a{
	display: block;
	color:white;
	text-align:center;
	padding:25px;
	text-decoration: none;
	font-size:25px;
}
.navbar-list a:hover{
	background-color:#111111;
}

.navbar-list-search{

	padding:0;
	margin-top:12px;
	float:right;
	height:50px;

	
}
.navbar-list-search-button{
	float:right;
	padding:0;
	margin-top:12px;
	margin-right: 100px;
	height: 50px;
	width:100px;
}
h2{
	color: blue;
}
.one-site{
	height:200px;
	overflow-x:auto;
	padding:35px;
	margin: 50px;
	color:black;

}
.scroll-wrapper{
	width:auto;
	overflow-x: scroll;
	overflow-y: hidden;	
	white-space: nowrap;

}


.prod-detail{
	float:left;
	overflow : auto;
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px;
	margin-right:50px;
	background-color: lightgrey;

}
.prod-detail img:hover{
	float:left;
	
	border: 5px solid black;
	border-radius: 5px;
	padding: 10px;
	margin-right:50px;
	background-color: lightgrey;

}
.clearfix::after {
    content: "";
    clear: both;
   display: table;
}
button{
	color : black;
	border: 2px green;
	margin: 5px;
	background-color: green;
	border-radius: 10px;
	height: 50px;
	width: 100px;
	display: inline-block;
}
