body{
	font-family: Arial,Georgia,sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding=0;
	margin =0;
	background-color: lightgrey;
}
/*global*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
ul{
	margin: 0;
	padding: 0;
}

.button_1{
	height:60px;
	background:#e8491d;
	border:none;
	padding-left: 40px;
	padding-right: 40px;
	color:#ffffff;
}
.button_2{
	height:40px;
	width: 100px;
	background:#e8491d;
	border:none;
	padding-left: 20px;
	padding-right: 20px;
	color:#ffffff;
}

.dark{
	padding:15px;
	background:#7b241c ;
	color:white;
	margin-top: 10px;
	margin-bottom: 10px;

}

header{
	background-color: #35424a;
	color:#ffffff;
	padding-top:30px;
	min-height: 70px;
	border-bottom: 	#e8491d 3px solid;

}

header a{
	color:#ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}


header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin: 0;

}

header nav{
	float:right;
	margin-top: 10px;
}


header .highlight, header .current a, ul#individual_items .hilight{
	color:#e8491d;
	font-weight: bold;
	float: right;	
}

header a:hover{
	color : #cccccc;
	font-weight:bold;
}

/*showcase*/
#showcase{
	min-height: 500px;
	background:url("./showcase.jpg") no-repeat;
	text-align: center;
	color: #000000;
	padding: 01px;
}

#showcase h1{
	margin-top: 100px;
	font-size : 55px;
	margin-bottom:10px;
	
}

#showcase p{
	font-size: 20px;
}

/*search*/
#user_search{
	padding:15px;
	color:#ffffff;
	background: #35424a;
}

#user_search h1{
	float:left;
	font-size: 50px;
}

#user_search form{
	float:right;
	margin-top: 15px;
	margin-bottom: 15px;
}

#user_search input{
	padding:10px;
	height:40px;
	width:500px;

}

#search_search{
	padding:5px;
	color:#ffffff;
	background:#354242;
}

#search_search h1{
	float:left;
	font-size:25px;
}

#search_search form{
	float:right;
	margin-top: 10px;
	margin-bottom: 10px;
}
#search_search input{
	padding:10px;
	height:20px;
	width:500px;
}





/*Boxeex*/

#boxes{
	margin-top: 20px;
}

#boxes .box{
	float:right;
	width:30%;
	padding:10px;
	text-align:center;
}

#boxes .box img{
	width:90px;
}


/*search page boxes */
#site-boxes{
	margin-top:20px;
   
	
}

#site-boxes .site-box1{
	 border-right:1px;
	  padding:10px; 
	 width:22%; 
	 height:700px;
	 float:left; 
	 position:relative;

}
#site-boxes .site-box2{
	border-right:1px;
	 width:22%;
	 height:700px;
	  padding:10px;
	  float:left;
	   position:relative;
}
#site-boxes .site-box3{
	 border-right:1px;
	 width:22%;
	 height:700px;
	  padding:10px;
	  float:left;
	   position:relative;
}
#site-boxes .site-box4{
	 border-right:1px;
	 width:22%;
	 height:700px;
	  padding:10px;
	  float:left;
	   position:relative;}



/*sidebar*/
aside#sidebar{
	float:right;
	width:30%;
	margin-top:10px;
}

aside#sidebar .quote input, aside #sidebar .quote textarea{
	width :90%;
	padding:5px;
}
/*Main-col*/
article#main-col{
	float:left;
	width:65%;
}

/*faq*/
ul#questions li{
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1px;
	margin-bottom: 5px;
	background: #e6e6e6;
}

/*search*/
ul#individual_items{
	/*border:1px solid;*/
	background :#e6e6e6;
	padding:10px;
	margin:5px;
	width: 100%;
	height: 500px;
	align-items: center;

}

ul#individual_items li{
	list-style: none;

}



ul#individual_items img{
	
	height:60%;
	width:100%;

}

footer{
	padding: 10px;
	margin-top:10px;
	color:#ffffff;
	background-color: #e8491d;
	text-align:center;
	width: 100%;
	position:absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
}




/*media queries*/
@media(max-width: 768px){
	
		header #branding,
		header nav,
		header nav li
		#user_search h1,
		#user_search form,
		#boxes .box,
		article#main-col,
		aside#sidebar{
			float:none;
			text-align:center;
			width:100%;	
		}
	


header{
	padding-bottom:20px;
}
#showcase h1{
	margin-top:40px;
}

#user_search button , .contact button{
	display:block;
	width:100%;
}

#user_search form input, .contact input, .quote textarea{
	width:100%;
	margin-bottom: 5px;
}



}