<!DOCTYPE html>
<html>
<head>
	<meta name ="viewport" content="width=device-width">
	<meta name ="description" content="Compare produts among various Nepali E-commercial sites">
	<meta name = "keywords" content= "E-commercial, Shop Online, Online shops">
	<meta name = "authors" content = "Suravi Regmi, Seema Gauli, Shradha Neupane">
	<title>PRODUCT COMPARISON SYSTEM | WELCOME</title>
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
	<header>
		<div class="container">
			<div id ="branding">
				<h1><span class = "highlight">Product </span>Comparision System</h1>
			</div>
			<nav>
				<ul>
					<li><a href="home.html">Home</a></li>
					<li class = "current"><a href="about.html">About</a></li>
					<li><a href="another.html">FAQ</a></li>					
				</ul>			
			</nav>
		</div>
	</header>
	
	<section id ="about-main">
		<div class="container">
			<article id = "main-col">
				<h1 class = "page-title">About us</h1>
				<p>We are 3rd year Computer Engineering Students of Kathmandu Engineering College situated in Kalimati,Kathmandu, Nepal. This application is our 3rd year Minor Project.
				</p>
				<br>
				<h3>Seema Gauli</h3>
				<h4>BCT71073</h3>
				<br>
				<h3>Shradha Neupane</h3>
				<h4>BCT71076</h4>
				<br>
				<h3>Suravi Regmi</h3>
				<h4>BCT71086</h4>
				<br>
				
			</article>

			<aside id = "sidebar">
				<div class = "dark">
					<h3> What the Application does...</h3>
					<p>This Web Application searches your desired product amongst different Nepali E-Commerical Sites and shows them at a single place so you dont have to waste your precious time searching different websites.

					</p>
					</div>
			</aside>

		</div>
	</section>
	<footer>
		<p>Product Comparison System, Copyright &copy; 2017</p>		
	</footer>

</body>
</html>