<!DOCTYPE html>
<html>
<head>
	<meta name ="viewport" content="width=device-width">
	<meta name ="description" content="Compare produts among various Nepali E-commercial sites">
	<meta name = "keywords" content= "E-commercial, Shop Online, Online shops">
	<meta name = "authors" content = "Suravi Regmi, Seema Gauli, Shradha Neupane">
	<title>PRODUCT COMPARISON SYSTEM | WELCOME</title>
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header>
		<div class="container">
			<div id ="branding">
				<h1><span class = "highlight">Product </span>Comparision System</h1>
			</div>
			<nav>
				<ul>
					<li><a href="home.html">Home</a></li>
					<li class = "current"><a href="about.html">About</a></li>
					<li><a href="another.html">FAQ</a></li>					
				</ul>			
			</nav>
		</div>
	</header>
	
	<section id ="about-main">
		<div class="container">
			<article id = "main-col">
				<h1 class = "page-title">About us</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
				<p>
				2. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
			</article>

			<aside id = "sidebar">
				<div class = "dark">
					<h3> What e rdo</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 	text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

					</p>
					</div>
			</aside>

		</div>
	</section>
	<footer>
		<p>Prodcut Comparison System, Copyright &copy; 2017</p>		
	</footer>

</body>
</html>