<!DOCTYPE html>
<html>
<head>
	<meta name ="viewport" content="width=device-width">
	<meta name ="description" content="Compare produts among various Nepali E-commercial sites">
	<meta name = "keywords" content= "E-commercial, Shop Online, Online shops">
	<meta name = "authors" content = "Suravi Regmi, Seema Gauli, Shradha Neupane">
	<title>PRODUCT COMPARISON SYSTEM | WELCOME</title>
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header>
		<div class="container">
			<div id ="branding">
			<h1>Product <span class = "highlight">Comparison </span>System</h1>
			</div>
			<nav>
				<ul>
					<li class = "current"><a href="home.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="another.html">FAQ</a></li>					
				</ul>			
			</nav>
		</div>
	</header>

	<section id="search_search">
	<div class = "container">
		<h1>Search  Again</h1>
		<form action = "{{url_for('search')}}" method = "POST">
			<input type="text" name="Product">
			<button type="submit" class="button_2">Search</button>
			
		</form>
	</div>	
	</section>

	<div class = 'container'>
	<div class = 'press'>
		<h1><a href = "search">All result</a></h1>
	</div>
	</div>

	<section id = "site-boxes">

		<div class = "containers">
			<div class = "site-box1">
			<h3> NepBay</h3>
				{% for row in rows %}
				 <ul id = "individual_items">
					<li><a href = "{{row["link_NB"]}}"><img src ="{{row["image_NB"]}}"></a></li>
					<li>{{row["name_NB"]}}</li>
					<li><span class = "hilight">{{row["price_NB"]}}</span></li>
					<li><a href = "{{row["link_NB"]}}">
					<button type = "button" class = "button_2">Buy</button></a></li>
				</ul>
				{% endfor %}
			</div>
			<div class = "site-box2">
			<h3> Muncha</h3>
				{% for row in rows %}
				 <ul id = "individual_items">
					<li><a href = "{{row["link"]}}"><img src ="{{row["image"]}}"></a></li>
					<li>{{row["name"]}}</li>
					<li><span class = "hilight">{{row["price"]}}</span></li>
					<li><a href = "{{row["link"]}}">
					<button type = "button" class = "button_2">Buy</button></a></li>
				</ul>
				{% endfor %}
			</div>

		</div>
	</section>


	<footer>
		<p>Product Comparison System, Copyright &copy; 2017</p>		
	</footer>

</body>
</html>