{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
        <h2>WELCOME TO </h2><br>
        <h1>Product Comparison System</h1>
        <br>
        <p class="lead">What do you need?</p>
        <form action = "{{url_for('search')}}" method = "POST">
  <br>
  <input type="text" class="input-large search-query" name="Product"><br>
  

<br>
	<input type="submit" value = "Search">
        <!--<p><a class="btn btn-lg btn-success">Search </a></p>-->
        </form>
</div>

{% endblock %}