<!DOCTYPE html>
<html>
<head>
	<meta name ="viewport" content="width=device-width">
	<meta name ="description" content="Compare produts among various Nepali E-commercial sites">
	<meta name = "keywords" content= "E-commercial, Shop Online, Online shops">
	<meta name = "authors" content = "Suravi Regmi, Seema Gauli, Shradha Neupane">
	<title>PRODUCT COMPARISON SYSTEM</title>
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header>
		<div class="container">
			<div id ="branding">
			<h1><span class = "highlight">Product </span>Comparision System</h1>
			</div>
			<nav>
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="another.html">FAQ</a></li>					
				</ul>			
			</nav>
		</div>
	</header>
	<section id="search_search">
	<div class = "container">
		<h1>Search  Again</h1>
		<form action = "{{url_for('search')}}" method = "POST">
			<input type="text" name="Product">
			<button type="submit" class="button_1">Search</button>
			<!-- Enter the shit here-->
		</form>
	</div>	
	</section>


	<h1>List of products</h1>
	<section id = "boxes">
		<div class = "containers">
			<h3> Muncha<h3>
			{% for row in rows %}
			 <ul id = "individual_items">
				<li><a href = "{{row["link"]}}"><img src ="{{row["image"]}}"></a></li>
				<li>{{row["name"]}}</li>
				<li><span class = "hilight">{{row["price"]}}</span></li>
				<li><a href = "{{row["link"]}}">
				<button type = "button" class = "button_1">Buy</button></a></li>
			</ul>
			{% endfor %}
			<a href = "/"> Go back to home page</a>
		</div>
	</section>
	




	<footer>
		<p>Prodcut Comparison System, Copyright &copy; 2017</p>		
	</footer>

</body>
</html>